@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: hsl(220, 15%, 55%);
}
/* media */
@media screen and (max-width: 375px) {
  body {
    background-color: hsl(218, 44%, 22%);
  }
  #container {
    width: 20rem;
    height: 10rem;
    display: block;
    top: 16rem;
  }
  .texth {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3rem;
  }
  .textp {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(212, 45%, 89%);
    padding: 1rem;
  }
}
@media screen and (max-width: 1440px) {
  #container {
    width: 40rem;
    height: 20rem;
    display: block;
    top: 20rem;
  }
  .texth {
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.7rem;
  }
  .textp {
    font-size: 1.7rem;
    font-weight: 400;
    color: hsl(212, 45%, 89%);
    padding: 1rem;
  }
}

/* finished */
#container {
  min-width: 100%;
  position: relative;
  top: 16rem;
}
/* .general {
  background-color: hsl(0, 0%, 100%);
  width: -51rem;
  height: auto;
} */
.img-crd {
  width: 30rem;
  height: 46rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.9rem;
  background-color: hsl(0, 0%, 100%);
}
.img-tags {
  width: 30rem;
  padding: 2rem;
  border-radius: 2.7rem;
}
.texth {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.5rem;
}
.textp {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(212, 45%, 89%);
  text-transform: capitalize;
  padding: 1rem;
}
